html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.image {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 19px;
}

.search-form {
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 8px;
  margin-bottom: 24px;
}

.search-form input,
.button {
  text-align: center;
  font-size: 28px;
  line-height: 2;
  margin: 20px;
  border-radius: 121px;
  background-color: rgba(165, 205, 221, 0.54);
  border: none;
  outline: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-card {
  width: calc((100% - 120px) / 4);
  background: #ffffff;
  box-shadow: 35px 18px 97px -34px rgba(74, 171, 191, 0.66);
  -webkit-box-shadow: 35px 18px 97px -34px rgba(74, 171, 191, 0.66);
  -moz-box-shadow: 35px 18px 97px -34px rgba(74, 171, 191, 0.66);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 15px;
  border-radius: 19px;
}

.photo-card span {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.photo-card .image {
  padding: 7px;
  transition: all 0, 3s ease;
}

.photo-card .image:hover {
  transform: scale(1.2);
}

.stats {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.stats-item {
  display: flex;
}

.material-icons {
  margin-right: 4px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 310px;
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}
